//h6 {

//font: 12px Arial, Geneva, Helvetica, sans-serif;

//margin-bottom: -6px;

//}

h1 {
  font: Times New Roman;

  margin-bottom: -12px;
}

h4 {
  font: Times New Roman;

  margin-bottom: -12px;
}

h5 {
  font: Times New Roman;

  margin-bottom: -12px;
  margin-top: 12px;
}